/* box-sizing property allows me to include the padding and border in the element's total width and height.*/
*{
  box-sizing: border-box;
}

body{
	backgrond:#92bde7
	color:#485e74;
	line-height:1.6;
	font-family: 'Segoe U', Tahoma,Geneva, Verdana, sans-serif;
	padding: 1em;
}
.container{
  max-width:360px;
	margin-left:auto;
	margin-right:auto;
	padding:1em;
	}
ul{
	list-style: none;
	padding:0;
}
.Media{
	text-align: center;
}

.Media span{
	color: #fff;
}
.wrapper{
 box-shadow: 0 0 20px 0 rbga(72,94,116,0.7);
}
.wrapper >*{
	padding: 1em;
}
