/* box-sizing property allows me to include the padding and border in the element's total width and height.*/
*{
  box-sizing: border-box;
}

body{
	backgrond:#92bde7
	color:#485e74;
	line-height:1.6;
	font-family: 'Segoe U', Tahoma,Geneva, Verdana, sans-serif;
	padding: 1em;
}
.container{
  max-width:360px;
	margin-left:auto;
	margin-right:auto;
	padding:1em;
	}
ul{
	list-style: none;
	padding:0;
}
.Media{
	text-align: center;
}

.Media span{
	color: #fff;
}
.wrapper{
 box-shadow: 0 0 20px 0 rbga(72,94,116,0.7);
}
.wrapper >*{
	padding: 1em;
}
.Company{
	background: #c9e6ff;
}
.Company h3, .Company ul{
	text-align: center;
}
	margin: 0 0 1rem 0;
}
.contactInfo{
	background: #f9feff;
}

/*form styles*/
.contactInfo form{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:20px;
}
.contactInfo from label{
	display:block;
}
.contactInfo form p{
	margin:0;
}
.contactInfo form .full{
	grid-column: 1/3;
}
.contactInfo form button, .contactInfo form input, .contactInfo form textarea{
	width:100%;
	padding: 1em;
	}
.contactInfo form button{
	background: #c9e6ff;
	
